.Logo-main {
    gap: 8px;
    display: flex;
    align-items: center;
}

.Logo-main .logo {
    width: 45px;
    height: 45px;
}

.Logo-main .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Logo-main h1 {
    color: #fff;
}

/* <----------RESPONSIVIDADE LAPTOP----------> */
@media (max-width: 1440px) {

    .Logo-main {
        gap: 6px;
    }

    .Logo-main .logo {
        width: 34px;
        height: 34px;
    }

    .Logo-main h1 {
        color: #fff;
        font-size: 23px;
    }

}

/* <----------RESPONSIVIDADE CELULAR----------> */
@media (max-width: 390px) {

    .Logo-main {
        gap: 4px;
    }


    .Logo-main h1 {
        font-size: 20px;
    }

}